:root {
	--clr_green: #66de93;
	--clr_cream: #ffeac9;
	--clr_red: #ff616d;
	--clr_dark_red: #d83a56;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: bisque;
	font-size: 1em;
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
h1 {
	text-align: center;
	color: black;
	background: #41295a; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2f0743, #41295a); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#2f0743,
		#41295a
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
h2 {
	background: #41295a; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2f0743, #41295a); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#2f0743,
		#41295a
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
p {
	font-size: 1.2rem;
	line-height: 30px;
}
.headp {
	text-align: center;
	font-weight: bolder;
	font-size: 1.2rem;
}
/* ul li {
	list-style: disc;
 
} */
.content {
	padding: 0 3rem 0 0rem;
	margin: 2rem 0;
}
.content h2 {
	color: black;
}
.content p {
	font-size: 1.2rem;
}
.image {
	text-align: center;
	max-width: 400px;
	display: block;
	margin: 0 auto 0 auto;
	border-radius: 2rem;
	box-shadow: 5px 5px 20px black;
}
.deforestation {
	padding: 10px 2rem 0;
}
.deforestation .image {
	display: block;
	margin: 0 auto 0 auto;
}
.deforestation p {
	font-size: 1.2rem;
}
.effects_list {
	position: relative;
	padding-left: 100px;
	font-size: 1.2rem;
}
.effects_list ol li {
	line-height: 30px;
}
.effects {
	padding: 20px 50px 0 70px;
}
.ideas {
	padding: 10px 50px 0 70px;
}
.bottom {
	margin-bottom: 100px;
}

@media screen and (max-width: 768px) {

	p {
		font-size: 1rem;
		line-height: 30px;
	}
	.headp {
		text-align: center;
		font-weight: bolder;
		font-size: 1rem;
	}

	.content {
		padding: 0 0rem;
		margin: 2rem 0;
	}
	.content h2 {
		color: black;
	}
	/* .content p {
		font-size: 1.2rem;
	} */
	.image {
		text-align: center;
		max-width: 200px;
		display: block;
		margin: 0 auto 0 auto;
		border-radius: 2rem;
		box-shadow: 5px 5px 20px black;
	}
	.deforestation {
		padding: 0 10px;
	}
	.deforestation .image {
		display: block;
		margin: 0 auto 0 auto;
	}
	.deforestation p {
		font-size: 1rem;
	}
	.effects_list {
		position: relative;
		padding-left: 0px;
		font-size: 1rem;

		font-size: 1rem;
	}
	.effects_list ol li {
		line-height: 30px;
	}
	.effects {
		padding: 0 10px;
	}
	.ideas {
		padding: 0 10px;
	}
	.bottom {
		margin-bottom: 100px;
	}
}
