:root{
    --clr_green:#66DE93;
    --clr_cream:#FFEAC9;
    --clr_red:#FF616D;
    --clr_dark_red:#D83A56;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EDFFA9;
    font-size: 1em;
    scroll-behavior: smooth;
}
h1{
    text-align: center;
    color: black;
   
}
.headp{
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
}
li{
    list-style: none;
}
.content{
    padding: 0 3rem 0 0rem;
    margin: 2rem 0;;
}
.content h2{
    color: black;
}
.content p{
 
    font-size: 1.2rem;
}